{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card bg-secondary text-light">
            <div class="card-body">
                <h4 class="card-title text-center mb-4">Регистрация</h4>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_email" class="form-label">Почта</label>
                        <input type="email" name="email" id="id_email" class="form-control" placeholder="Введите почту" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Пароль</label>
                        <input type="password" name="password" id="id_password" class="form-control" placeholder="Введите пароль" required>
                    </div>
                    <button type="submit" class="btn" style="background-color: #800000; color: white; width: 100%;">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
